<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2005-2006 Open Source Applications Foundation Licensed under 
	the Apache License, Version 2.0 (the "License"); you may not use this file 
	except in compliance with the License. You may obtain a copy of the License 
	at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable 
	law or agreed to in writing, software distributed under the License is distributed 
	on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either 
	express or implied. See the License for the specific language governing permissions 
	and limitations under the License. -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<bean id="userService" class="org.unitedinternet.cosmo.service.impl.StandardUserService">
        <constructor-arg index="0" ref="contentDao" />
        <constructor-arg index="1" ref="contentService" />
        <constructor-arg index="2" ref="userDao" />
	</bean>

	<bean id="contentLockManager"
		class="org.unitedinternet.cosmo.service.lock.SingleVMLockManager" />

	<bean id="contentService" class="org.unitedinternet.cosmo.service.impl.StandardContentService">
        <constructor-arg index="0" ref="contentDao" />
        <constructor-arg index="1" ref="contentLockManager" />
	</bean>

	<bean id="calendarQueryProcessor" class="org.unitedinternet.cosmo.calendar.query.impl.StandardCalendarQueryProcessor">
        <constructor-arg index="0" ref="entityConverter" />
		<property name="calendarDao" ref="calendarDao" />
	</bean>

	<!-- general protocol/interface resources -->

	<!-- dav protocol resources -->

	<bean id="davResourceFactory" class="org.unitedinternet.cosmo.dav.StandardResourceFactory">
		<constructor-arg>
			<ref bean="contentService" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="securityManager" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="idGenerator" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="calendarQueryProcessor" />
		</constructor-arg>
        <constructor-arg>
            <bean class="carldav.card.CardQueryProcessorImpl">
                <constructor-arg>
                    <ref bean="contentDao" />
                </constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <ref bean="userService" />
        </constructor-arg>
	</bean>

	<bean id="davResourceLocatorFactory"
		class="org.unitedinternet.cosmo.dav.StandardResourceLocatorFactory" />
    <bean id="simpleUrlHandlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="order" value="1" />
        <property name="mappings">
            <value>
                /#{T(org.unitedinternet.cosmo.server.ServerConstants).SVC_DAV}/**=dav
                /#{T(org.unitedinternet.cosmo.server.ServerConstants).SVC_PRINCIPALS}/**=dav
            </value>
        </property>
    </bean>

	<bean id="dav" class="org.unitedinternet.cosmo.dav.servlet.StandardRequestHandler">
        <constructor-arg index="0" ref="davResourceLocatorFactory" />
        <constructor-arg index="1" ref="davResourceFactory" />
        <constructor-arg index="2" ref="idGenerator" />
	</bean>


	<!-- authentication resources -->

	<bean id="userDetailsService" class="org.unitedinternet.cosmo.acegisecurity.userdetails.CosmoUserDetailsService">
		<constructor-arg index="0" ref="userDao" />
	</bean>

    <!-- Retry Filter -->
    <bean id="retryFilter" class="org.unitedinternet.cosmo.filters.RetryFilter">
        <property name="maxRetries" value="10" />
        <property name="methods">
            <list>
                <value>POST</value>
                <value>PUT</value>
                <value>DELETE</value>
            </list>
        </property>
        <property name="exceptions">
            <list>
                <value>org.springframework.dao.ConcurrencyFailureException</value>
                <value>org.springframework.dao.DataIntegrityViolationException
                </value>
            </list>
        </property>
    </bean>
</beans>
