<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userService" class="org.unitedinternet.cosmo.service.impl.StandardUserService">
        <constructor-arg index="0" ref="contentService" />
        <constructor-arg index="1" ref="userRepository" />
        <constructor-arg index="2" ref="collectionRepository" />
	</bean>

	<bean id="contentService" class="org.unitedinternet.cosmo.service.impl.StandardContentService">
        <constructor-arg index="0" ref="itemRepository" />
        <constructor-arg index="1" ref="collectionRepository" />
	</bean>

	<bean id="calendarQueryProcessor" class="org.unitedinternet.cosmo.calendar.query.impl.StandardCalendarQueryProcessor">
		<constructor-arg index="0" ref="itemRepository" />
	</bean>

	<bean id="davResourceFactory" class="org.unitedinternet.cosmo.dav.StandardResourceFactory">
		<constructor-arg>
			<ref bean="contentService" />
		</constructor-arg>
        <constructor-arg>
            <ref bean="itemRepository" />
        </constructor-arg>
        <constructor-arg>
            <ref bean="collectionRepository" />
        </constructor-arg>
		<constructor-arg>
			<ref bean="securityManager" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="calendarQueryProcessor" />
		</constructor-arg>
        <constructor-arg>
            <bean class="carldav.card.CardQueryProcessorImpl">
                <constructor-arg>
                    <ref bean="itemRepository" />
                </constructor-arg>
            </bean>
        </constructor-arg>
	</bean>

	<bean id="davResourceLocatorFactory" class="org.unitedinternet.cosmo.dav.StandardResourceLocatorFactory">
        <constructor-arg value="${server.context-path:/}"/>
    </bean>

    <bean id="simpleUrlHandlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="order" value="1" />
        <property name="mappings">
            <value>
                /#{T(org.unitedinternet.cosmo.server.ServerConstants).SVC_DAV}/**=dav
                /#{T(org.unitedinternet.cosmo.server.ServerConstants).SVC_PRINCIPALS}/**=dav
                /#{T(org.unitedinternet.cosmo.server.ServerConstants).SVC_PRINCIPALS}=dav
            </value>
        </property>
    </bean>

	<bean id="dav" class="org.unitedinternet.cosmo.dav.servlet.StandardRequestHandler">
        <constructor-arg index="0" ref="davResourceLocatorFactory" />
        <constructor-arg index="1" ref="davResourceFactory" />
        <constructor-arg index="2" ref="exceptionResolverHandler" />
	</bean>

</beans>
