<?xml version="1.0" encoding="UTF-8"?>
<configuration
  debug="false"
  scan="false"
  scanPeriod="30 seconds">
  <jmxConfigurator/>

  <logger name="ch.qos.logback.classic" level="info"/>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} %9relative [%thread] %-5level %logger [%file:%line] %mdc{GURID} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.unitedinternet" level="INFO"/>
  <logger name="net.gmx" level="INFO"/>
  <logger name="de.web" level="INFO"/>
  <logger name="net.sf" level="WARN"/>
  <logger name="org.unitedinternet.cosmo.dav.servlet.StandardRequestHandler" level="OFF"/>
  <logger name="org.unitedinternet.cosmo.hibernate.validator.EventExceptionValidator" level="OFF"/>
  <logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="OFF"/>
  <logger name="org.springframework" level="OFF"/>

  <root level="OFF">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>

